@section CSS
{
<link rel="stylesheet" href="/css/volunteeringmission.css" asp-append-version="true" />
}
<div class=" section-1  p-0 m-0 d-flex w-100">
    <div class=" align-items-center container ">


        <nav class="navbar navbar-expand-lg navbar-light">


            <div class="responsive-icon">

                <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><img src="/Images/list.png" /></button>
                <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
                    <div class="offcanvas-header">

                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Explore
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>

                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>

                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Top Themes
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>

                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>

                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Top Countries
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>

                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Organization
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>

                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Most Ranked
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>

                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>

                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Top Favourite
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>

                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>

                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Recomanded
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>

                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>

                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Random
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>

                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>

                        <ul class="navbar-nav mr-auto">
                            <li class=" nav-item">
                                <a class="nav-link" href="#">Stories</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#">News</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Policy
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>

                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>





                    </div>
                </div>

            </div>

            <div class="startnavitems">



                <ul class="navbar-nav mr-auto">
                    <img class="img pe-4" src="/Images/logo.png" />
                    <li class="nav-item navgrp dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Explore
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>

                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item navgrp">
                        <a class="nav-link" href="#">Stories</a>
                    </li>
                    <li class="nav-item navgrp">
                        <a class="nav-link" href="#">News</a>
                    </li>
                    <li class="nav-item navgrp dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Policy
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="endnavitems">



                <div class="notificationicon d-flex align-items-center pe-5">
                    <button class="btn" onclick="openPopUp()"><img src="~/Images/bell.png" /></button>


                    <div class="expandednotificationbar container" id="menu">
                        <div class="navbar-nav notificationnav d-flex justify-content-between align-content-center mt-3">
                            <div class="settingicon">
                                <img src="/Images/settings.png" />
                            </div>
                            <div> <p>Notification</p></div>

                            <div class="clearallbtn"> <button class="btn">Clear All</button></div>


                        </div>
                        <div class="notificationarea d-flex justify-content-center">
                            <div>
                                <img src="/Images/bell-big.png" />
                            </div>

                        </div>
                        <p>You do not have any new notifications</p>
                    </div>


                </div>
                <div class="profile">
                    <img src="~/Images/user-img.png" class="" alt="...">
                </div>
                <div class="namedropdown">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item navgrp dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Evan Donohue
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>



        </nav>

    </div>
</div>

<div class="mainbody container-fluid container mt-5">
    <div class="row row-cols-lg-2 container m-0 p-0">

        <div class="col-lg-6 g-0">
            <div class="row h-100">
                

                    <div  class=" slide h-100" >

                   
                        <div class="bigimgsection m-0 p-0 h-75 g-0">
                             <img src="~/Images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-2.png" id="bigimg" class="d-block w-100 h-100" alt="...">
                        </div>
                         <div class="carousel mt-2 h-25 d-flex align-items-center justify-content-center flex-nowrap">
        <div class="carousel-container gap-2 ">
          <div class="caro-item">
              <button type="button" onclick="openingbigimg()" class="active btn m-0 p-0">
                    <img class="smallimgcarousel" id="smallimg" src="/Images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-1.png" alt="Image 1">
              </button>
          
          </div>
          <div class="caro-item">
               <button type="button" onclick="openingbigimg2()" class="active btn m-0 p-0">
                    <img class="smallimgcarousel" id="smallimg2" src="/Images/img1.png" alt="Image 2">
              </button>
          
           
          </div>
          <div class="caro-item">
               <button type="button" onclick="openingbigimg3()" class="active btn m-0 p-0">
                    <img class="smallimgcarousel" id="smallimg3" src="/Images/Grow-Trees-On-the-path-to-environment-sustainability-1.png" alt="Image 3">
              </button>
            
          </div>
          <div class="caro-item">
               <button type="button" onclick="openingbigimg4()" class="active btn m-0 p-0">
                   <img class="smallimgcarousel" id="smallimg4" src="/Images/img11.png" alt="Image 4">
              </button>
            
          </div>

           <div class="caro-item">
               <button type="button" onclick="openingbigimg5()" class="active btn m-0 p-0">
                   <img class="smallimgcarousel" id="smallimg5" src="/Images/image1.png" alt="Image 5">
              </button>
            
          </div>

           <div class="caro-item">
               <button type="button" onclick="openingbigimg6()" class="active btn m-0 p-0">
                   <img class="smallimgcarousel" id="smallimg6" src="/Images/Education-Supplies-for-Every--Pair-of-Shoes-Sold-1.png" alt="Image 6">
              </button>
            
          </div>
           
        </div>
       <button class="carousel-prev-btn"><img src="/Images/left1.png" /></button>
        <button class="carousel-next-btn"><img src="/Images/right-arrow2.png" /></button>
        
      </div>
      
                      



                         

                    </div>
              


            </div>
        </div>
        <div class="col-lg-6">
            <div class="bodymain">
                <div class="card-body">
                    <p class="card-title" style="font-size:38px;color:#414141;"> CSR Intiative for coffee&Farmer equity</p>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card.</p>
                </div>
                <div class="mainwraper">



                    <div class="wraper">

                        <div class="row  g-0 justify-content-center align-items-center">
                            <hr class="col-2 mb-0" />
                            <div class="rounded rounded-pill p-2 border border-1 d-flex justify-content-center align-items-center col-8">
                                plant 10,000 Trees
                            </div>
                            <hr class="col-2 mb-0" />
                        </div>
                        <div class="seats-deadline container d-flex align-items-center">
                            <div class="seatsleft d-flex gap-3 m-3 align-items-center">
                                <img class="rounded" src="/Images/Seats-left.png" />
                                <div class="leftseatsdetails">
                                    <div>10</div>
                                    <div>seats left</div>
                                </div>
                            </div>
                            <div class=" timebased deadline d-flex gap-3 m-3 align-items-center">
                                <img class="rounded" src="~/Images/achieved.png" />
                                <div class="bgbar">
                                    <div class="progressbar"></div>
                                    <div>8000 archieved</div>
                                </div>

                            </div>
                        </div>
                        <hr />

                        <div class="row fav-reco_section g-0 justify-content-center align-items-center gap-3">
                            <div class="col d-flex addtofavourite border border-3 rounded rounded-pill   justify-content-center">
                                <button class="btn"><img class="px-2 py-1" src="/Images/heart1.png" />Add to Favourite</button>
                            </div>
                            <div class="col d-flex recomanded border border-3 rounded rounded-pill justify-content-center">
                                <button class="btn"><img class="px-2 py-1" src="/Images/heart1.png" />Recommend to a Co-Worker</button>
                            </div>
                        </div>


                        <div class=" g-0 rating d-flex justify-content-center align-items-center mt-3">
                            <hr class="col-2" />
                            <div clss="starimg d-flex row justify-content-center ">


                                <img src="/Images/star-empty.png" />
                                <img src="/Images/star-empty.png" />
                                <img src="/Images/star-empty.png" />
                                <img src="/Images/star-empty.png" />
                                <img src="/Images/star-empty.png" />
                            </div>
                            <hr class="col-2 " />
                        </div>

                        <div class="row infobox g-0 gy-0 gap-2 mt-3">
                            <div class="col border border-1 p-2">
                                <div class="info d-flex row justify-content-between gap-4">
                                    <div class="infoimg">
                                        <img src="/Images/pin1.png" />
                                    </div>
                                    <div class="infotitle" style="font-size:15px;">
                                        <p>City</p>
                                        <p>london</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col border border-1 p-2">
                                <div class="info d-flex row justify-content-between gap-4">
                                    <div class="infoimg">
                                        <img src="/Images/web.png" />
                                    </div>
                                    <div class="infotitle" style="font-size:15px;">
                                        <p>Theme</p>
                                        <p>Environmemt</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col border border-1 p-2">
                                <div class="info d-flex row justify-content-between gap-4">
                                    <div class="infoimg">
                                        <img src="/Images/calender.png" />
                                    </div>
                                    <div class="infotitle" style="font-size:15px;">
                                        <p>Date</p>
                                        <p>Ongoing Opportunity</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col border border-1 p-2">
                                <div class="info d-flex row justify-content-between gap-4">
                                    <div class="infoimg">
                                        <img src="/Images/organization.png" />
                                    </div>
                                    <div class="infotitle" style="font-size:15px;">
                                        <p>Oraganization</p>
                                        <p>CSE Network</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="apply d-flex align-items-center justify-content-center mt-4">
                    <button class="btn applybtn mt-3 mb-3" type="submit"><span style="color:orange;">Apply Now<img class="p-2" src="/Images/right-arrow.png" /></span></button>
                </div>


            </div>
        </div>



    </div>

    <div class="row row-cols-lg-2 container m-0 p-0 mt-2">
        <div class="col-lg-8 p-3">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab-1" type="button"
                            role="tab" aria-controls="home" aria-selected="true">
                        Mission
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2" type="button" role="tab"
                            aria-controls="profile" aria-selected="false">
                        Organization
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3" type="button"
                            role="tab" aria-controls="home" aria-selected="true">
                        Sponsored
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4" type="button" role="tab"
                            aria-controls="contact" aria-selected="false">
                        Comments
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="tab-1" role="tabpanel">
                    <h1>Introduction</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        <br> <br>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        <br> <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <h1>Challenges</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        <br> <br>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        <br> <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <h1>Documents</h1>
                    <div class="mission-docs d-flex flex-wrap mt-3 gap-3">
                        <button class="btn doc-btn border"><img src="~/images/pdf.png" class="px-1" /><span>lorem-ipsum.pdf</span></button>
                        <button class="btn doc-btn border"><img src="~/images/doc.png" class="px-1" /><span>at_vero_eos_accusamus.doc</span></button>
                        <button class="btn doc-btn border"><img src="~/images/xlsx.png" class="px-1" /><span>important_doc.xls</span></button>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-2" role="tabpanel">
                    <h1>Introduction</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        <br> <br>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        <br> <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
                <div class="tab-pane fade" id="tab-3" role="tabpanel">
                    <h1>Introduction</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        <br> <br>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        <br> <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
                <div class="tab-pane fade" id="tab-4" role="tabpanel">

                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Comments</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn postcommentbtn rounded rounded-pill mt-3 p-2">Post Comment</button>
                    </form>
                    <div class="row commentsection overflow-auto mt-3">
                        @for (int i = 0; i < 5; i++)
                        {
                            <div class="col-12">

                                <div class="commentbox">
                                    <div class="commenterdetails d-flex">
                                        <div class="profilepic">
                                            <img class="rounded rounded-circle" src="~/Images/volunteer1.png" />
                                        </div>
                                        <div class="profilename">

                                            Arnoid hubler
                                            <div>
                                                Monday,june 10,2019,10:30
                                            </div>

                                        </div>

                                    </div>
                                    <div class="commenttext">
                                        Hello everyone , good afternoon...
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut facere esse exercitationem reiciendis quas?
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi quisquam error ullam saepe maxime ratione.
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, ad error in dolorem ullam laborum, ut totam corrupti aliquam quisquam consequuntur, quo tenetur!
                                    </div>
                                </div>
                            </div>


                        }
                        <div class="loadmorecommentsbtn d-flex justify-content-center"><button class="btn">Read More Comments</button></div>

                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-4 p-3">
            <div class="row informationbox border border-1 p-3">
                <div class="inforheader">
                    <h3>Information</h3>
                    <hr />
                </div>
                <div class="skillrow ">
                    <div class="d-flex">


                        <div>
                            Skill
                        </div>
                        <div class="infodata">
                            cool,easy going,math,computer
                        </div>
                    </div>
                    <hr />
                </div>

                <div class="daysrow">
                    <div class="d-flex ">
                        <div>
                            Days
                        </div>
                        <div class="infodata">
                            Weekend-only
                        </div>
                    </div>
                    <hr />
                </div>

                <div class="ratingrow">
                    <div class="d-flex">
                        <div>
                            Rating
                        </div>
                        <div class="infodata">
                            <img src="/Images/selected-star.png" />
                            <img src="/Images/selected-star.png" />
                            <img src="/Images/selected-star.png" />
                            <img src="/Images/selected-star.png" />
                            <img src="/Images/selected-star.png" />
                            <span>(By 125 Volunteers)</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row recentvolunteerbox border border-1 mt-5 p-0">
                <div class="maincontent p-3">
                    <div class="inforheader">
                        <h3>Recent Volunteers</h3>
                        <hr />
                    </div>
                    <div class="profileview">
                        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                            @for (int i = 0; i < 9; i++)
                            {
                                <div class="col d-flex justify-content-center mt-3">
                                    <div class="userdetailscontainer">
                                        <img src="/Images/volunteer1.png" />
                                        <div class="volunteername">Andrew Johnson</div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="profilechangingbutton g-0 p-0 m-0">
                    <div class="col m-0 p-0">
                        <button class="btn border border-1"><img src="/Images/left.png" /></button>
                    </div>
                    <div class="col col-10 d-flex justify-content-center align-items-center  border border-1 m-0 p-0">
                        <span class="pageno">1-9 of 25 Recent Volunteers</span>
                    </div>
                    <div class="col d-flex justify-content-end m-0 p-0">
                        <button class="btn border border-1"><img src="/Images/arrow.png" /></button>
                    </div>



                </div>
            </div>
        </div>
    </div>


</div>

<hr />

<div class="relatedmissioncontainer container-fluid container mt-5">
    <div class="title d-flex justify-content-center">
        <h1>Related Mission</h1>
    </div>
    <div class="relatedmissioncard row row-cols-1 row-cols-lg-3 mt-5">
        @for (int i = 0; i < 3; i++)
        {
            <div class="col pt-3 ">
                <div class="card position-relative">
                    <img src="/Images/Grow-Trees-On-the-path-to-environment-sustainability-1.png" class="" alt="...">
                    <div class="card-img-overlay d-flex column align-items-end  position-absolute" style="transform: translateX(-100%);">
                        <div class="rounded rounded-pill location p-1" style="background-color:black;">

                            <img src="/Images/pin.png" />
                            <span style="color:white;">location</span>
                        </div>
                        <div class="favourite imgoverlaybtn d-flex justify-content-center align-items-center mt-5">
                            <img src="/Images/heart.png" />

                        </div>
                        <div class="recommadedbtn imgoverlaybtn d-flex justify-content-center align-items-center mt-2">
                            <img src="/Images/user.png" />
                        </div>


                    </div>
                    <div class=" title d-flex position-absolute">
                        <div class="titledata rounded rounded-pill">
                            Environment
                        </div>
                    </div>
                    <div class="bodymain">
                        <div class="card-body">
                            <h3 class="card-title"> 1 .Grow Tree- on path to environment sustainability</h3>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div class="mainwraper">


                            <div class="oraganization_name container d-flex">
                                <p>Tree canada</p>
                                <div class="rating">
                                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>


                            </div>
                            <div class="wraper">

                                <div class="row  g-0 justify-content-center align-items-center">
                                    <hr class=" col-2 mb-0" />
                                    <div class="rounded rounded-pill p-2 border border-1 d-flex justify-content-center  align-items-center col-8">
                                        From 1/1/2001 to Until 1/2/2001
                                    </div>
                                    <hr class=" col-2 mb-0" />
                                </div>
                                <div class="seats-deadline container d-flex justify-content-between">
                                    <div class="seatsleft d-flex gap-3 m-3">
                                        <img class="rounded p-1 mb-2" src="/Images/Seats-left.png" />
                                        <div class="leftseatsdetails">
                                            <div>10</div>
                                            <div>seats left</div>
                                        </div>
                                    </div>
                                    <div class="goalbased deadline d-flex gap-3 m-3">

                                        <img class="rounded  p-1 mb-1" src="/Images/deadline.png" />
                                        <div class="deadlineDetails">
                                            <div>1/1/2001</div>
                                            <div>deadline</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="apply d-flex align-items-center justify-content-center">
                            <button class="btn applybtn mt-3 mb-3" type="submit"><span style="color:orange;">Apply<img class="p-2" src="/Images/right-arrow.png" /></span></button>
                        </div>


                    </div>


                </div>
            </div>
        }

    </div>
</div>
<hr />
<div class="footer container">
    <a asp-action="#" style="text-decoration:none;color:black;">Privacy policy</a>
</div>
@section Scripts
    {
<script>

                           let menubar=document.getElementById("notificationbtn");
      const menu=document.getElementById('menu');
      console.log(menubar);

      function openPopUp(){


          if(menu.style.display === "none"){

               menu.style.display = "block";
          }
          else{
                menu.style.display = "none";
          }
      }
     

   




    function openingbigimg(){
        var x=document.getElementById('smallimg').src;

        var myimg=document.getElementById('bigimg');
        myimg.src=x;



    }
    function openingbigimg2(){
        var x=document.getElementById('smallimg2').src;

          var myimg=document.getElementById('bigimg');
        myimg.src=x;

    }
    function openingbigimg3(){
        var x=document.getElementById('smallimg3').src;

          var myimg=document.getElementById('bigimg');
        myimg.src=x;

    }
    function openingbigimg4(){
        var x=document.getElementById('smallimg4').src;

          var myimg=document.getElementById('bigimg');
        myimg.src=x;

    }
      function openingbigimg5(){
        var x=document.getElementById('smallimg5').src;

          var myimg=document.getElementById('bigimg');
        myimg.src=x;

    }
      function openingbigimg6(){
        var x=document.getElementById('smallimg6').src;

          var myimg=document.getElementById('bigimg');
        myimg.src=x;

    }



 const carouselContainer = document.querySelector('.carousel-container');
const carouselPrevBtn = document.querySelector('.carousel-prev-btn');
const carouselNextBtn = document.querySelector('.carousel-next-btn');

let currentIndex = 0;

carouselPrevBtn.addEventListener('click', () => {
  if (currentIndex > 0) {
    currentIndex--;
    carouselContainer.style.transform = `translateX(-${currentIndex * 20}%)`;
  }
});

carouselNextBtn.addEventListener('click', () => {
  if (currentIndex < 3) {
    currentIndex++;
    carouselContainer.style.transform = `translateX(-${currentIndex * 20}%)`;
  }
});



</script>
    }
