f@section CSS
{
<link rel="stylesheet" href="~/css/missionlisting.css" asp-append-version="true" />
}

<div class=" section-1  p-0 m-0 d-flex w-100">
    <div class=" align-items-center container ">


        <nav class="navbar navbar-expand-lg navbar-light">


            <div class="responsive-icon">

                <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><img src="/Images/list.png" /></button>
                <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
                    <div class="offcanvas-header">

                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Explore
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>

                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>

                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Top Themes
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>

                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>

                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Top Countries
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>

                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Organization
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>

                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Most Ranked
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>

                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>

                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Top Favourite
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>

                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>

                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Recomanded
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>

                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>

                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Random
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>

                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>

                        <ul class="navbar-nav mr-auto">
                            <li class=" nav-item">
                                <a class="nav-link" href="#">Stories</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#">News</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Policy
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>

                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>





                    </div>
                </div>

            </div>

            <div class="startnavitems">



                <ul class="navbar-nav mr-auto">
                    <img class="img pe-4" src="/Images/logo.png" />
                    <li class="nav-item navgrp dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Explore
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>

                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item navgrp">
                        <a class="nav-link" href="#">Stories</a>
                    </li>
                    <li class="nav-item navgrp">
                        <a class="nav-link" href="#">News</a>
                    </li>
                    <li class="nav-item navgrp dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Policy
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="endnavitems">



                <div class="notificationicon d-flex align-items-center pe-5">
                    <button class="btn" onclick="openPopUp()"><img src="~/Images/bell.png" /></button>

                    <div class=" container" id="menu" style="display:none;">
                        <div class="navbar-nav notificationnav d-flex justify-content-between align-content-center mt-3">
                            <div class="settingicon">
                                <img src="/Images/settings.png" />
                            </div>
                            <div> <p>Notification</p></div>

                            <div class="clearallbtn"> <button class="btn m-0 p-0">Clear All</button></div>


                        </div>
                        <div class="notificationarea d-flex justify-content-center">
                            <div>
                                <img src="/Images/bell-big.png" />
                            </div>

                        </div>
                        <p>You do not have any new notifications</p>
                    </div>


                </div>
                <div class="profile">
                    <img src="~/Images/user-img.png" class="" alt="...">
                </div>
                <div class="namedropdown">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item navgrp dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Evan Donohue
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>



        </nav>

    </div>
</div>


<div class="container-fluid p-0 m-0 section-2 d-flex w-100 ">


    <div class="d-flex align-items-center container justify-content-between">

        <div class="searchwraper">


            <div clsas="search-icon">
                <img src="/Images/search.png" class="" alt="...">
            </div>



            <div class="searchbar">
                <input class="form-control" type="search" style="border:none;" placeholder="Search Mission" aria-label="Search">
            </div>

        </div>


        <div class="dropdown filterdropdown">
            <button type="button" class="btn" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span>Country<img class="p-3" src="~/Images/drop-down.png" /></span></button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Afghanistan</a>
                <a class="dropdown-item" href="#">Albania</a>
                <a class="dropdown-item" href="#">Algeria</a>
                <a class="dropdown-item" href="#">Barbados</a>
                <a class="dropdown-item" href="#">Belarus</a>
                <a class="dropdown-item" href="#">Belgium</a>

            </div>
        </div>




        <div class="dropdown filterdropdown">
            <button type="button" class="btn" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span>City<img class="p-3" src="~/Images/drop-down.png" /></span></button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="dropdown-item form-label-check  ">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Tirana
                    </label>
                </div>

                <div class="dropdown-item form-label-check  ">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Durres
                    </label>
                </div>

                <div class="dropdown-item form-label-check  ">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Viore
                    </label>
                </div>

                <div class="dropdown-item form-label-check  ">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Elbasan
                    </label>
                </div>

                <div class="dropdown-item form-label-check  ">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Shkoder
                    </label>
                </div>

                <div class="dropdown-item form-label-check  ">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Fier
                    </label>
                </div>

            </div>
        </div>




        <div class="dropdown filterdropdown">
            <button type="button" class="btn" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span>Theme<img class="p-3" src="~/Images/drop-down.png" /></span></button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="dropdown-item form-label-check  ">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        education
                    </label>
                </div>

                <div class="dropdown-item form-label-check  ">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Children
                    </label>
                </div>

                <div class="dropdown-item form-label-check  ">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Health
                    </label>
                </div>

                <div class="dropdown-item form-label-check  ">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Animals
                    </label>
                </div>

                <div class="dropdown-item form-label-check  ">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Nutritions
                    </label>
                </div>

                <div class="dropdown-item form-label-check  ">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Environment
                    </label>
                </div>
            </div>
        </div>


        <div class="dropdown filterdropdown">
            <button type="button" class="btn" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span>Skills<img class="p-3" src="~/Images/drop-down.png" /></span></button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="dropdown-item form-label-check  ">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Anthropology
                    </label>
                </div>

                <div class="dropdown-item form-label-check  ">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Archelogy
                    </label>
                </div>

                <div class="dropdown-item form-label-check  ">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Astronomy
                    </label>
                </div>

                <div class="dropdown-item form-label-check  ">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Computer Science
                    </label>
                </div>

                <div class="dropdown-item form-label-check  ">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        history
                    </label>
                </div>

                <div class="dropdown-item form-label-check  ">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Reesearch
                    </label>
                </div>
            </div>
        </div>


        <div class="filterbutton">
            <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop"><img src="/Images/filter.png" /></button>

            <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
                <div class="offcanvas-header">

                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="dropdown ">
                        <button type="button" class="btn" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span>Country<img class="p-3" src="~/Images/drop-down.png" /></span></button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Afghanistan</a>
                            <a class="dropdown-item" href="#">Albania</a>
                            <a class="dropdown-item" href="#">Algeria</a>
                            <a class="dropdown-item" href="#">Barbados</a>
                            <a class="dropdown-item" href="#">Belarus</a>
                            <a class="dropdown-item" href="#">Belgium</a>

                        </div>
                    </div>


                    <div class="dropdown ">
                        <button type="button" class="btn" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span>City<img class="p-3" src="~/Images/drop-down.png" /></span></button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <div class="dropdown-item form-label-check  ">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Tirana
                                </label>
                            </div>

                            <div class="dropdown-item form-label-check  ">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Durres
                                </label>
                            </div>

                            <div class="dropdown-item form-label-check  ">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Viore
                                </label>
                            </div>

                            <div class="dropdown-item form-label-check  ">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Elbasan
                                </label>
                            </div>

                            <div class="dropdown-item form-label-check  ">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Shkoder
                                </label>
                            </div>

                            <div class="dropdown-item form-label-check  ">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Fier
                                </label>
                            </div>

                        </div>
                    </div>




                    <div class="dropdown">
                        <button type="button" class="btn" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span>Theme<img class="p-3" src="~/Images/drop-down.png" /></span></button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <div class="dropdown-item form-label-check  ">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    education
                                </label>
                            </div>

                            <div class="dropdown-item form-label-check  ">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Children
                                </label>
                            </div>

                            <div class="dropdown-item form-label-check  ">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Health
                                </label>
                            </div>

                            <div class="dropdown-item form-label-check  ">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Animals
                                </label>
                            </div>

                            <div class="dropdown-item form-label-check  ">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Nutritions
                                </label>
                            </div>

                            <div class="dropdown-item form-label-check  ">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Environment
                                </label>
                            </div>
                        </div>
                    </div>


                    <div class="dropdown">
                        <button type="button" class="btn" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span>Skills<img class="p-3" src="~/Images/drop-down.png" /></span></button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <div class="dropdown-item form-label-check  ">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Anthropology
                                </label>
                            </div>

                            <div class="dropdown-item form-label-check  ">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Archelogy
                                </label>
                            </div>

                            <div class="dropdown-item form-label-check  ">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Astronomy
                                </label>
                            </div>

                            <div class="dropdown-item form-label-check  ">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Computer Science
                                </label>
                            </div>

                            <div class="dropdown-item form-label-check  ">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    history
                                </label>
                            </div>

                            <div class="dropdown-item form-label-check  ">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Reesearch
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>


    </div>

</div>



<div class="selectedfilter">

    <div class="section-3  container-fluid p-0 m-0  d-flex w-100 ">
        <div class="d-flex align-items-center container">
            <button type="button" class="btn" aria-label="Close"><span class="">ABCD<img class="p-3" src="~/Images/cancel.png" /></span></button>
            <button type="button" class="btn" aria-label="Close"><span>ABCD<img class="p-3" src="~/Images/cancel.png" /></span></button>
            <button type="button" class="btn" aria-label="Close"><span>ABCD<img class="p-3" src="~/Images/cancel.png" /></span></button>
            <button type="button" class="btn" aria-label="Close"><span>ABCD<img class="p-3" src="~/Images/cancel.png" /></span></button>
            <button type="button" class="btn" arial-lable="close">clear all</button>
        </div>
    </div>

</div>

<div class="container-fluid p-0 m-0 d-flex w-100 gridViewTitleBar">
    <div class="d-flex align-items-center container justify-content-between">

        <div class="mission-number">
            <p>Explore <strong>72 Mission</strong></p>
        </div>


        <div class="missionviewoption dropdown">
            <div class="sortby">


                <button type="button" class="btn" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span>sort by<img class="p-3" src="~/Images/drop-down.png" /></span></button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
            <button class="btn" onclick="showGridView()"><img src="~/Images/grid.png" /></button>
            <button class="btn" onclick="showListView()"><img src="~/Images/list.png" /></button>
        </div>





    </div>

</div>

<div class="container-fluid p-0 m-0 d-flex w-100 gridtemplete align-items-center  justify-content-between">

    <div class="gridview container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gridView">

            @for (int i = 0; i < 9; i++)
            {

                    <div class="col pt-3 ">
                        <div class="card position-relative">
                            <img src="/Images/Grow-Trees-On-the-path-to-environment-sustainability-1.png" class="" alt="...">
                            <div class="card-img-overlay d-flex column align-items-end  position-absolute" style="transform: translateX(-100%);">
                                <div class="rounded rounded-pill location p-1" style="background-color:black;">

                                    <img src="/Images/pin.png" />
                                    <span style="color:white;">location</span>
                                </div>
                                <div class="favourite imgoverlaybtn d-flex justify-content-center align-items-center mt-5">
                                    <img src="/Images/heart.png" />

                                </div>
                                <div class="recommadedbtn imgoverlaybtn d-flex justify-content-center align-items-center mt-2">
                                    <img src="/Images/user.png" />
                                </div>


                            </div>
                            <div class=" title d-flex position-absolute">
                                <div class="titledata rounded rounded-pill">
                                    Environment
                                </div>
                            </div>
                            <div class="bodymain">
                                <div class="card-body">
                                    <h3 class="card-title"> 1 .Grow Tree- on path to environment sustainability</h3>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                                <div class="mainwraper">


                                    <div class="oraganization_name container d-flex">
                                        <p>Tree canada</p>
                                        <div class="rating">
                                            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                            <span class="fa fa-star"></span>
                                        </div>


                                    </div>
                                    <div class="wraper">

                                        <div class="row  g-0 justify-content-center align-items-center">
                                            <hr class=" col-2 mb-0" />
                                            <div class="rounded rounded-pill p-2 border border-1 d-flex justify-content-center  align-items-center col-8">
                                                From 1/1/2001 to Until 1/2/2001
                                            </div>
                                            <hr class=" col-2 mb-0" />
                                        </div>
                                        <div class="seats-deadline container d-flex justify-content-between">
                                            <div class="seatsleft d-flex gap-3 m-3">
                                                <img class="rounded p-1 mb-2" src="/Images/Seats-left.png" />
                                                <div class="leftseatsdetails">
                                                    <div>10</div>
                                                    <div>seats left</div>
                                                </div>
                                            </div>
                                            <div class="goalbased deadline d-flex gap-3 m-3">

                                                <img class="rounded  p-1 mb-1" src="/Images/deadline.png" />
                                                <div class="deadlineDetails">
                                                    <div>1/1/2001</div>
                                                    <div>deadline</div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="apply d-flex align-items-center">
                                    <button class="btn applybtn mt-3 mb-3" type="submit"><span style="color:orange;">Apply<img class="p-2" src="/Images/right-arrow.png" /></span></button>
                                </div>


                            </div>


                        </div>
                    </div>
            }
            <div class="col pt-3 ">
                <div class="card position-relative">
                    <img src="/Images/Grow-Trees-On-the-path-to-environment-sustainability-1.png" class="" alt="...">
                    <div class="card-img-overlay d-flex column align-items-end  position-absolute" style="transform: translateX(-100%);">
                        <div class="rounded rounded-pill location p-1" style="background-color:black;">

                            <img src="/Images/pin.png" />
                            <span style="color:white;">location</span>
                        </div>
                        <div class="favourite imgoverlaybtn d-flex justify-content-center align-items-center mt-5">
                            <img src="/Images/heart.png" />

                        </div>
                        <div class="recommadedbtn imgoverlaybtn d-flex justify-content-center align-items-center mt-2">
                            <img src="/Images/user.png" />
                        </div>


                    </div>
                    <div class=" title d-flex position-absolute">
                        <div class="titledata rounded rounded-pill">
                            Environment
                        </div>
                    </div>
                    <div class="bodymain">
                        <div class="card-body">
                            <h3 class="card-title"> 1 .Grow Tree- on path to environment sustainability</h3>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div class="mainwraper">


                            <div class="oraganization_name container d-flex">
                                <p>Tree canada</p>
                                <div class="rating">
                                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>


                            </div>
                            <div class="wraper">

                                <div class="row  g-0 justify-content-center align-items-center">
                                    <hr class=" col-2 mb-0" />
                                    <div class="rounded rounded-pill p-2 border border-1 d-flex justify-content-center  align-items-center col-8">
                                        From 1/1/2001 to Until 1/2/2001
                                    </div>
                                    <hr class=" col-2 mb-0" />
                                </div>
                                <div class="seats-deadline container d-flex align-items-center">
                                    <div class="seatsleft d-flex gap-3 m-3 align-items-center">
                                        <img class="rounded" src="/Images/Seats-left.png" />

                                        <div>
                                            10
                                            <div>seats left</div>
                                        </div>


                                    </div>
                                    <div class="timebased deadline d-flex gap-3 m-3 align-items-center">

                                        <img class="rounded" src="~/Images/achieved.png" />
                                        <div class="bgbar">
                                            <div class="progressbar"></div>
                                            <div>8000 archieved</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="apply d-flex align-items-center">
                            <button class="btn applybtn mt-3 mb-3" type="submit"><span style="color:orange;">Apply<img class="p-2" src="/Images/right-arrow.png" /></span></button>
                        </div>


                    </div>


                </div>
            </div>

        </div>
        <div class="pagination container-fluid d-flex justify-content-center align-content-center mt-5">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item m-1">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item m-1"><a class="page-link" href="#">1</a></li>
                        <li class="page-item m-1"><a class="page-link" href="#">2</a></li>
                        <li class="page-item  m-1"><a class="page-link" href="#">3</a></li>
                        <li class="page-item m-1"><a class="page-link" href="#">4</a></li>
                        <li class="page-item  m-1"><a class="page-link" href="#">5</a></li>
                        <li class="page-item  m-1"><a class="page-link" href="#">6</a></li>
                        <li class="page-item  m-1">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
        </div>
     </div>
</div>
<div class="container-fluid">
    <hr />
</div>
<div class="footer container d-flex justify-content-start align-content-center mt-5">
                <p>Privacy policy</p>
</div>









    @section Scripts
            {
            <script>
                    let menubar=document.getElementById("notificationbtn");
      const menu=document.getElementById('menu');
      console.log(menubar);

      function openPopUp(){


          if(menu.style.display === "none"){

               menu.style.display = "block";
          }
          else{
                menu.style.display = "none";
          }
      }



                 let view=document.getElementById("gridview");
                 function showListView(){

                     let rows = document.querySelectorAll(".gridView");


                     if(rows.length>0){
                         rows.forEach(e=>{
                             e.classList.remove("gridView");
                             e.classList.add("listView");
                         })
                     }
                 }

                 function showGridView(){

                     let rows=document.querySelectorAll(".listView");


                     if(rows.length>0){
                         rows.forEach(e=>{
                             e.classList.remove("listView");
                             e.classList.add("gridView");
                         })
                     }



                 }


            </script>
            }
