@section CSS
{
<link rel="stylesheet" href="~/css/StoriesListing.css" asp-append-version="true" />
}
<div class=" section-1  p-0 m-0 d-flex w-100">
    <div class=" align-items-center container ">


        <nav class="navbar navbar-expand-lg navbar-light">


            <div class="responsive-icon">

                <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><img src="/Images/list.png" /></button>
                <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
                    <div class="offcanvas-header">

                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Explore
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>

                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>

                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Top Themes
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>

                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>

                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Top Countries
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>

                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Organization
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>

                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Most Ranked
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>

                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>

                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Top Favourite
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>

                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>

                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Recomanded
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>

                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>

                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Random
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>

                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>

                        <ul class="navbar-nav mr-auto">
                            <li class=" nav-item">
                                <a class="nav-link" href="#">Stories</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#">News</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Policy
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>

                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>





                    </div>
                </div>

            </div>

            <div class="startnavitems">



                <ul class="navbar-nav mr-auto">
                    <img class="img pe-4" src="/Images/logo.png" />
                    <li class="nav-item navgrp dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Explore
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>

                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item navgrp">
                        <a class="nav-link" href="#">Stories</a>
                    </li>
                    <li class="nav-item navgrp">
                        <a class="nav-link" href="#">News</a>
                    </li>
                    <li class="nav-item navgrp dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Policy
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="endnavitems">



                <div class="notificationicon d-flex align-items-center pe-5">
                    <button class="btn" onclick="openPopUp()"><img src="~/Images/bell.png" /></button>

                    <div class=" container" id="menu" style="display:none;">
                        <div class="navbar-nav notificationnav d-flex justify-content-between align-content-center mt-3">
                            <div class="settingicon ">
                                <img src="/Images/settings.png" />
                            </div>
                            <div> <p>Notification</p></div>

                            <div class="clearallbtn"> <button class="btn m-0 p-0">Clear All</button></div>


                        </div>
                        <div class="notificationarea d-flex justify-content-center">
                            <div>
                                <img src="/Images/bell-big.png" />
                            </div>

                        </div>
                        <p>You do not have any new notifications</p>
                    </div>


                </div>
                <div class="profile">
                    <img src="~/Images/user-img.png" class="" alt="...">
                </div>
                <div class="namedropdown">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item navgrp dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Evan Donohue
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>



        </nav>

    </div>
</div>
<div class="container-fluid p-0 m-0 section-2 d-flex w-100 ">


    <div class="d-flex align-items-center container justify-content-between">

        <div class="searchwraper d-flex align-items-center">


            <div clsas="search-icon">
                <img src="/Images/search.png" class="" alt="...">
            </div>



            <div class="searchbar">
                <input class="form-control" type="search" style="border:none;" placeholder="Search Mission" aria-label="Search">
            </div>

        </div>


        <div class="dropdown filterdropdown">
            <button type="button" class="btn" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span>Country<img class="p-3" src="~/Images/drop-down.png" /></span></button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Afghanistan</a>
                <a class="dropdown-item" href="#">Albania</a>
                <a class="dropdown-item" href="#">Algeria</a>
                <a class="dropdown-item" href="#">Barbados</a>
                <a class="dropdown-item" href="#">Belarus</a>
                <a class="dropdown-item" href="#">Belgium</a>

            </div>
        </div>




        <div class="dropdown filterdropdown">
            <button type="button" class="btn" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span>City<img class="p-3" src="~/Images/drop-down.png" /></span></button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="dropdown-item form-label-check  ">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Tirana
                    </label>
                </div>

                <div class="dropdown-item form-label-check  ">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Durres
                    </label>
                </div>

                <div class="dropdown-item form-label-check  ">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Viore
                    </label>
                </div>

                <div class="dropdown-item form-label-check  ">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Elbasan
                    </label>
                </div>

                <div class="dropdown-item form-label-check  ">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Shkoder
                    </label>
                </div>

                <div class="dropdown-item form-label-check  ">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Fier
                    </label>
                </div>

            </div>
        </div>




        <div class="dropdown filterdropdown">
            <button type="button" class="btn" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span>Theme<img class="p-3" src="~/Images/drop-down.png" /></span></button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="dropdown-item form-label-check  ">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        education
                    </label>
                </div>

                <div class="dropdown-item form-label-check  ">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Children
                    </label>
                </div>

                <div class="dropdown-item form-label-check  ">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Health
                    </label>
                </div>

                <div class="dropdown-item form-label-check  ">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Animals
                    </label>
                </div>

                <div class="dropdown-item form-label-check  ">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Nutritions
                    </label>
                </div>

                <div class="dropdown-item form-label-check  ">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Environment
                    </label>
                </div>
            </div>
        </div>


        <div class="dropdown filterdropdown">
            <button type="button" class="btn" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span>Skills<img class="p-3" src="~/Images/drop-down.png" /></span></button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="dropdown-item form-label-check  ">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Anthropology
                    </label>
                </div>

                <div class="dropdown-item form-label-check  ">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Archelogy
                    </label>
                </div>

                <div class="dropdown-item form-label-check  ">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Astronomy
                    </label>
                </div>

                <div class="dropdown-item form-label-check  ">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Computer Science
                    </label>
                </div>

                <div class="dropdown-item form-label-check  ">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        history
                    </label>
                </div>

                <div class="dropdown-item form-label-check  ">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Reesearch
                    </label>
                </div>
            </div>
        </div>


        <div class="filterbutton">
            <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop"><img src="/Images/filter.png" /></button>

            <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
                <div class="offcanvas-header">

                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="dropdown ">
                        <button type="button" class="btn" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span>Country<img class="p-3" src="~/Images/drop-down.png" /></span></button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Afghanistan</a>
                            <a class="dropdown-item" href="#">Albania</a>
                            <a class="dropdown-item" href="#">Algeria</a>
                            <a class="dropdown-item" href="#">Barbados</a>
                            <a class="dropdown-item" href="#">Belarus</a>
                            <a class="dropdown-item" href="#">Belgium</a>

                        </div>
                    </div>


                    <div class="dropdown ">
                        <button type="button" class="btn" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span>City<img class="p-3" src="~/Images/drop-down.png" /></span></button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <div class="dropdown-item form-label-check  ">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Tirana
                                </label>
                            </div>

                            <div class="dropdown-item form-label-check  ">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Durres
                                </label>
                            </div>

                            <div class="dropdown-item form-label-check  ">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Viore
                                </label>
                            </div>

                            <div class="dropdown-item form-label-check  ">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Elbasan
                                </label>
                            </div>

                            <div class="dropdown-item form-label-check  ">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Shkoder
                                </label>
                            </div>

                            <div class="dropdown-item form-label-check  ">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Fier
                                </label>
                            </div>

                        </div>
                    </div>




                    <div class="dropdown">
                        <button type="button" class="btn" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span>Theme<img class="p-3" src="~/Images/drop-down.png" /></span></button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <div class="dropdown-item form-label-check  ">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    education
                                </label>
                            </div>

                            <div class="dropdown-item form-label-check  ">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Children
                                </label>
                            </div>

                            <div class="dropdown-item form-label-check  ">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Health
                                </label>
                            </div>

                            <div class="dropdown-item form-label-check  ">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Animals
                                </label>
                            </div>

                            <div class="dropdown-item form-label-check  ">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Nutritions
                                </label>
                            </div>

                            <div class="dropdown-item form-label-check  ">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Environment
                                </label>
                            </div>
                        </div>
                    </div>


                    <div class="dropdown">
                        <button type="button" class="btn" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span>Skills<img class="p-3" src="~/Images/drop-down.png" /></span></button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <div class="dropdown-item form-label-check  ">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Anthropology
                                </label>
                            </div>

                            <div class="dropdown-item form-label-check  ">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Archelogy
                                </label>
                            </div>

                            <div class="dropdown-item form-label-check  ">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Astronomy
                                </label>
                            </div>

                            <div class="dropdown-item form-label-check  ">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Computer Science
                                </label>
                            </div>

                            <div class="dropdown-item form-label-check  ">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    history
                                </label>
                            </div>

                            <div class="dropdown-item form-label-check  ">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Reesearch
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>


    </div>

</div>

<div class="container-fluid Main-img row W-100 m-0 p-0">
  <div class="title">
       <p>  Lorem ipsum dolor, sit amet illo vitae?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi cumque consequuntur dignissimos<br /> sunt sed tempora maiores expedita rerum quasi quas explicabo, temporibus alias, illo vitae?</p>
       <button class="btn sharestorybtn rounded rounded-pill border border-1"> <span style="color:white;">share your story</span><img class="p-2" src="/Images/right-arrow2.png" /></button> 
  </div>
</div>


<div class="section-3 d-flex  container-fluid m-0 p-0 w-100 align-items-center  justify-content-between">
    <div class="container-xxl">
         <div class="row container row-cols-1 row-cols-md-2 row-cols-lg-3">

         @for(int i=0;i<9;i++){
             <div class="col pt-4">
             <div class="card">
  <img src="/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">10 User and customer Engagement strategies for 2019</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="profiledetail">
        <img src="/Images/volunteer1.png" />
        <span>Andrew Johnson</span>
    </div>
  </div>
</div>
</div>
         }
 
    </div>
    </div>
 
</div>
<div class="pagination container-fluid d-flex justify-content-center align-content-center mt-5">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item m-1">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only"></span>
                            </a>
                        </li>
                        <li class="page-item m-1"><a class="page-link" href="#">1</a></li>
                        <li class="page-item m-1"><a class="page-link" href="#">2</a></li>
                        <li class="page-item  m-1"><a class="page-link" href="#">3</a></li>
                        <li class="page-item m-1"><a class="page-link" href="#">4</a></li>
                        <li class="page-item  m-1"><a class="page-link" href="#">5</a></li>
                        <li class="page-item  m-1"><a class="page-link" href="#">6</a></li>
                        <li class="page-item  m-1">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only"></span>
                            </a>
                        </li>
                    </ul>
                </nav>
        </div>
<div class="container-fluid">
    <hr />
</div>
<div class="footer container d-flex justify-content-start align-content-center mt-5">
                <p>Privacy policy</p>
</div>

@section Scripts{
    <script>
         let menubar=document.getElementById("notificationbtn");
      const menu=document.getElementById('menu');
      console.log(menubar);

      function openPopUp(){


          if(menu.style.display === "none"){

               menu.style.display = "block";
          }
          else{
                menu.style.display = "none";
          }
      }
    </script>
       
}