body {
    font-size: 16px;
}

.carousel-inner img {
    height: 100vh;
    object-fit: cover;
}

form input {
    height: 53px;
    box-shadow: 0.97px 0.26px 3px #0000000D;
    border: 1px solid #D9D9D9;
}

form button {
    height: 53px;
    width: 100%;
    background-color: transparent;
    border-style: none;
    border: 2px solid #F88634;
    border-radius: 24px;
}

.lostpass, .privacy {
    color: black;
}
.field-validation-error{
    color:red;
}
/*   Media query  */
@media screen and (max-width:2560px) {
    .carousel-inner img {
            width: 10px;
            object-fit: cover;
        }


        .form-label {
            font-size: 17px;
        }


        form input {
            height: 65px;
            box-shadow: 0.97px 0.26px 3px #0000000D;
            border: 1px solid #D9D9D9;
        }

        form button {
            height: 65px;
            width: 100%;
            background-color: transparent;
            border-style: none;
            border: 2px solid #F88634;
            border-radius: 24px;
        }

        .privacy {
            font-size: 14px;
        }

        .text {
            font-size: 17px;
        }
    }

    @media screen and (max-width:1440px) {
        .carousel-inner img {
            width: 100vw;
            object-fit: cover;
        }

        form input {
            height: 53px;
            box-shadow: 0.97px 0.26px 3px #0000000D;
            border: 1px solid #D9D9D9;
        }

        form button {
            height: 53px;
            width: 100%;
            background-color: transparent;
            border-style: none;
            border: 2px solid #F88634;
            border-radius: 24px;
        }
    }



    @media screen and (max-width:1024px) {
        .carousel-inner img {
            height: 86vh;
            object-fit: cover;
        }

        form input {
            height: 65px;
            box-shadow: 0.97px 0.26px 3px #0000000D;
            border: 1px solid #D9D9D9;
        }

        form button {
            height: 65px;
            width: 100%;
            background-color: transparent;
            border-style: none;
            border: 2px solid #F88634;
            border-radius: 24px;
        }
    }

    @media screen and (max-width:768px) {
        .carousel-inner img {
            height: 64vh;
            object-fit: cover;
        }

        form input {
            height: 70px;
            box-shadow: 0.97px 0.26px 3px #0000000D;
            border: 1px solid #D9D9D9;
        }

        form button {
            height: 70px;
            width: 100%;
            background-color: transparent;
            border-style: none;
            border: 2px solid #F88634;
            border-radius: 24px;
        }
    }


    @media screen and (max-width:425px) {

        .carousel-inner img {
            height: 27vh;
        }

        form input {
            height: 70px;
            box-shadow: 0.97px 0.26px 3px #0000000D;
            border: 1px solid #D9D9D9;
        }

        form button {
            height: 70px;
            width: 100%;
            background-color: transparent;
            border-style: none;
            border: 2px solid #F88634;
            border-radius: 24px;
        }

        .carousel-caption p {
            height: 1.3vh;
            font-size: 10px;
        }

        .carousel-caption h2 {
            display: none;
        }
    }
